<head>
    <style>
        body {
            background-color:darksalmon;
        }
    </style>
</head>
<body>
<h1 style="color: red">Hello World !</h1>
<h3>We are learning ASP.NET Core</h3>
<h2>Welcome to Greenwich University !</h2>
<img src="https://blogcdn.muaban.net/wp-content/uploads/2022/07/08200846/hoc-phi-greenwich.jpg" 
    width="75%" height="75%"/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/oOD96ZHeD9c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>

