<div class="container col-md-6">
    <form method="post" asp-controller="Demo" asp-action="Output">
        Name: <input type="text" required minlength="3" maxlength="30" name="ten"><br><br>
        Age: <input type="number" required min="1" max="150" name="tuoi"><br><br>
        Image: <input type="text" required name="anh"><br><br>
        <input type="submit" value="OK">
    </form>
</div>