@if (ViewBag.Username == "admin" && ViewBag.Password == "123456") {
    <h1>Login Succeed. Welcome admin ! </h1>
} else {
    <h1>Login Failed. 
        <a asp-controller="Login" asp-action="Index">Try again !</a> 
    </h1>
}