<form asp-controller="Login" asp-action="Check">
    Username: <input type="text" required name="username">
    <br><br>
    Password: <input type="password" required name="password">
    <br><br>
    <input type="submit" value="Login">
</form>