@model WebApplication1.Models.Book
<center>
    <h1>Edit book by ID "@Model.Id"</h1><br />
    <form action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span class="text-black-50 text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input class="form-control" asp-for="Author" />
            <span class="text-black-50 text-danger" asp-validation-for="Author"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image"></label>
            <input class="form-control" asp-for="Image" />
            <span class="text-black-50 text-danger" asp-validation-for="Image"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type"></label><br />
            <input asp-for="Type" type="radio" value="PDF" />PDF
            <input asp-for="Type" type="radio" value="PGV" />PGV
            <span  asp-validation-for="Type"></span>
        </div>
      
       
        <label>Select category</label>
        <select class="form-control" asp-for="CategoryId">
            <option>Selectn category</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select><br />
        <span class="text text-danger" asp-validation-for="CategoryId"></span>
       
        <div class="form-group">
            <label asp-for="Price"></label>
            <input class="form-control" asp-for="Price" />
            <span class="text-black-50 text-danger" asp-validation-for="Price"></span>
        </div>
        
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Edit">
        </div>
    </form>
</center>