@model web5.Models.University

<div class="container col-md-8 text-center mt-3">
    <form asp-controller="University" asp-action="Index" class="card p-3 bg-light">
        <h2 class="bg-success">Add new university</h2>
        <div class="form-group">
            <label class="h4 text-primary">English Name</label>
            <input class="form-control" asp-for="EngName" required /> 
        </div>
        <div class="form-group">
            <label class="h4 text-primary">Vietnamese Name</label>
            <input class="form-control" asp-for="VieName" required />
        </div>
        <div class="form-group">
            <label class="h4 text-primary">Introduction</label>
            <input class="form-control" asp-for="Intro" required /> 
        </div>
        <div class="form-group">
            <label class="h4 text-primary">Address</label>
            <input class="form-control" asp-for="Address" required />
        </div>
        <div class="form-group">
            <label class="h4 text-primary">Image</label>
            <input class="form-control" asp-for="Image" required />
        </div>
        <input class="btn btn-danger" type="submit" value="Add" />
    </form>
</div>