<h1 style="text-align: center;"> Ha Noi is the capital of Vietnam
    <img src="https://a.cdn-hotels.com/gdcs/production144/d1394/a304783d-6dc9-4bb2-9239-d124a16a154e.jpg" width="80%" height="80%" />
    <br /><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yap4rr9y0oc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</h1>